.logo {
    width:50%;
    float:left;
}

#overview, #about, #services, #prices, #testimonials, #employees, #order,#questions {
    min-height:100vh;
}

.bg-blue {
    background-color:#013F88;
    color:white;
    padding:30px;
    height: 100%;
}

.bg-white {
    background-color:white;
    color:black;
    padding:30px;
    height: 100%;
}

/*h3 {*/
/*    font-size:200%;*/
/*    text-align:center;*/
/*    margin:40px;*/
/*    color:#CCD6EB;*/
/*    font-family: 'Lora', serif;*/
/*}*/

p, tr {
    font-size:150%;
    line-height:2;
    text-align:left;
    font-family: 'Vollkorn', serif;
    
    opacity: 1;
   -webkit-transition: opacity 2s ease-in;
   -moz-transition: opacity 2s ease-in;
   -o-transition: opacity 2s ease-in;
   -ms-transition: opacity 2s ease-in;
   transition: opacity 2s ease-in;
}

.number {
    font-size:100%;
    color:#33CC33;
}

h1 {
    font-family: 'Lora', serif;
    font-size:290%;
    text-align:center;
    margin-bottom:40px;
}

h2 {
    font-family: 'Lora', serif;
    font-size:170%;
    text-align:center;
    font-style:italic;
    margin-bottom:40px;
}

a {
    font-size:190%;
    font-family: 'Vollkorn', serif;
}

.col-md-4 {
    text-align:center;
}

.col-md-3 {
    border-style:solid;
    border-color:white;
    margin:10px;
}

table {
    margin-left:20px;
    width: 100%;
}

.other {
    font-size:90%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}